.color-display{
  border: solid 2px black;
  max-width: 300px;
  min-height: 250px;
}
.color-text {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.color-display h3{
  margin-top: 100px;
}